*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: lightsteelblue;
  padding: 1rem;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__title {
  font-size: 3.5rem;
  margin: 1rem 0 2.5rem;
  background-color: #FFF;
  opacity: 0.9;
  padding: 0.25rem 0.75rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
}

.search {
  position: relative;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}
.search__input {
  width: 85vw;
  height: 2.5rem;
  padding-left: 2.5rem;
  margin-bottom: 1.5rem;
  border: 1px black solid;
  border-radius: 32px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.search__input:focus {
  outline: 2px slategray solid;
}
.search .error {
  outline: 2px red solid;
}
.search__emoji {
  position: absolute;
  top: 0.5rem;
  left: 0.625rem;
}
.search__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.search .button {
  margin: 0 1rem;
  width: 10rem;
  height: 1.5rem;
  border: 1px black solid;
  border-radius: 32px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.populate {
  display: flex;
  flex-direction: column;
}
.populate__top {
  background-color: #FFF;
  border: 2px solid slategray;
  border-radius: 8px;
  width: 48.75%;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
}
.populate__bottom {
  display: flex;
  justify-content: space-between;
}

.city {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.weather {
  background-color: #FFF;
  border: 2px solid slategray;
  border-radius: 8px;
  width: 48.75%;
}
.weather__current {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 1rem;
  font-size: 1.5rem;
}
.weather__label {
  font-size: 0.75rem;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 1rem;
  right: 5rem;
  background-color: #FFF;
  opacity: 0.9;
  padding: 0.0625rem;
}
.weather__label:nth-child(1) {
  left: inherit;
  left: 4rem;
}
.weather__current--temp, .weather__current--conditions {
  background-color: #FFF;
  opacity: 0.9;
  padding: 0.125rem;
}
.weather__forecast {
  display: flex;
  justify-content: space-evenly;
}
.weather__forecast--day {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  width: 30%;
  background-color: lightskyblue;
  opacity: 0.6;
}
.weather__temps {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.map {
  background-color: #FFF;
  border: 2px solid slategray;
  border-radius: 8px;
  width: 48.75%;
}/*# sourceMappingURL=index.css.map */