@use "./partials/resets" as *;
@use "./partials/media" as *;

@mixin card-style {
    background-color: #FFF;
    border: 2px solid slategray;
    border-radius: 8px;
    width: 48.75%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin: 2rem;
}

.header {
    display: flex;
    align-items: center;
    margin: 1rem 0 2.5rem;
    background-color: #FFF;
    opacity: 0.9;
    padding: 0.25rem 0.75rem;
    &__title {
        font-size: 3.5rem;
        
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75vh;
}

.search {
    position: relative;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;

    
    &__input {
        width: 85vw;
        height: 2.5rem;
        padding-left: 2.5rem;
        margin-bottom: 1.5rem;
        border: 1px black solid;
        border-radius: 32px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        &:focus {
            outline: 2px slategray solid;
        }
        
    }
    
    .error {
        outline: 2px red solid;
    }

    &__emoji {
        position: absolute;
        top: 0.5rem;
        left: 0.625rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .button {
        margin: 0 1rem;
        width: 10rem;
        height: 1.5rem;
        border: 1px black solid;
        border-radius: 32px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.populate {
    display: flex;
    flex-direction: column;

    &__top {
        @include card-style;
        margin-bottom: 1rem;
        width: 100%;
        padding: 1rem;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }
}

.city {
    font-size: 2rem;
    margin-bottom: 1rem
}

.weather {
    @include card-style;

    &__current {
        position: relative;
        display: flex;
        justify-content: space-around;
        padding: 2.5rem 1rem;
        font-size: 1.5rem;
    }

    &__label {
        font-size: 0.75rem;
        position: absolute;
        width: fit-content;
        top: 1rem;
        right: 5rem;
        background-color: #FFF;
        opacity: 0.9;
        padding: 0.0625rem;

        &:nth-child(1) {
            left: inherit;
            left: 4rem;
        }
    }

    &__current--temp, &__current--conditions {
        background-color: #FFF;
        opacity: 0.9;
        padding: 0.125rem;
    }

    &__forecast {
        display: flex;
        justify-content: space-evenly;

        &--day {
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 5rem;
            padding: 0.5rem 0;
            font-size: 0.875rem;
            width: 30%;
            background-color: lightskyblue;
            opacity: 0.6;
        }
    }

    &__temps {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

.map {
    @include card-style;
}