@use "./partials/resets" as *;
@use "./partials/media" as *;

@mixin card-style {
    background-color: #FFF;
    border: 2px solid slategray;
    border-radius: 8px;
    width: 48.75%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    &__title {
        font-size: 3.5rem;
        margin: 1rem 0 2.5rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75vh;
}

.search {
    position: relative;
    margin-bottom: 5rem;

    &__input {
        width: 85vw;
        height: 2.5rem;
        padding-left: 2.5rem;
        margin-bottom: 1.5rem;
        border: 1px black solid;
        border-radius: 32px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        &:focus {
            outline: 2px slategray solid;
        }

        &--error {
            outline: 2px red;
        }
    }

    &__emoji {
        position: absolute;
        top: 0.5rem;
        left: 0.625rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .button {
        margin: 0 1rem;
        width: 10rem;
        height: 1.5rem;
        border: 1px black solid;
        border-radius: 32px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.populate {
    display: flex;
    flex-direction: column;

    &__top {
        @include card-style;
        margin-bottom: 1rem;
        width: 100%;
        padding: 1rem;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }
}

.city {
    font-size: 2rem;
    margin-bottom: 1rem
}

.weather {
    @include card-style;

    &__current {
        display: flex;
        justify-content: space-around;
        padding: 2.5rem 1rem;
        font-size: 1.5rem;
    }

    &__forecast {
        display: flex;
        justify-content: space-evenly;

        &--day {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 5rem;
            padding: 0.5rem 0;
            font-size: 0.625rem;
            width: 30%;
        }
    }

    &__temps {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

.map {
    @include card-style;
}